[Desktop Entry]
Type=Application
Name=jPDF Desk
Comment=View, fill, sign and secure PDF documents
Exec=jpdf-desk %f
MimeType=application/pdf;
Icon=jpdf-desk
Terminal=false
Categories=Office;
